<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/css-b/style2.css">
</head>
<body>
    <form class='form-container' action="/login" class="m-1 p-1 " method="post">
        <div class="row m-1 p-1" >
            
                <label for="txtctrllogin" class="form-label m-1 w-100"><i class="bi bi-envelope-at"></i> Email</label>
                <input class="longo" type="text" name="txtctrllogin" id="txtctrllogin" class="form-control" tabindex="1">
                <label for="txtctrlpass" class="form-label m-1"><i class="bi bi-braces-asterisk"></i> Senha</label>
                <input class="longo" type="password" name="txtctrlpass" id="txtctrlpass" class="form-control" tabindex="1">
            
        </div>
        <div class="row"><button type="submit" class="btn bg-info">Entrar</button></div>
        <div><a href="/cadastrar">Cadastre-se</a></div>
    </form>
</body>
</html>