<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/css-b/style2.css">
</head>
<body>
    <form class="form-container" action="/registrarexercicio" method="post">

        <div>
            <label for="txtcardio">Cardio</label>
            <input type="text" name="txtcardio" id="txtcardio">

            <label for="txtmusculo">Musculo</label>
            <input type="text" name="txtmusculo" id="txtmusculo">

            <label for="txtaerobico">Aerobico</label>
            <input type="text" name="txtaerobico" id="txtaerobico">
        </div>

<input type="submit" name="" id="">
    </form>
</body>
</html>