<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/css-b/style2.css">
</head>
<body>
    <form class="form-container" action="/registrarusuario" method="post">

        <div>
            <label for="txtnome">Nome</label>
            <input type="text" name="txtnome" id="txtnome">

            <label for="txtemail">Email</label>
            <input type="email" name="txtemail" id="txtemail">

            <label for="txtsenha">Senha</label>
            <input type="password" name="txtsenha" id="txtsenha">

            <label for="txtpeso">Peso</label>
            <input type="number" name="txtpeso" id="txtpeso">

            <label for="txtaltura">Altura</label>
            <input type="number" name="txtaltura" id="txtaltura">

            <label for="txtidade">Idade</label>
            <input type="number" name="txtidade" id="txtidade">


            <label for="txtgenero">Genero</label>
            <select name="txtgenero" id="txtgenero">
                <option value="Feminino">Feminino</option>
                <option value="Masculino">Masculino</option>
         
            </select>
        </div>

<input type="submit" name="" id="">
    </form>
</body>
</html>